.newWord {
  background-image: url("../../assets/spell_back1.JPG");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.dropDown {
  margin-top: 3rem;
}

#Grade {
  margin-right: 1rem;
}

#Grade,
#Level {
  padding: 9px;
  font-size: small;
}

.addBtn {
  /* padding: 0.5rem 1.5rem;
  border: 1px solid;
  border-radius: 10px;
  background: #e63c44;
  color: white;
  cursor: pointer;
  margin-top: 2rem;
  margin-right: 1rem;
  text-decoration: none;
  display: inline; */
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  border-radius: 25px;
  background: #e63c44;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.addBtn:focus {
  outline: none;
}

.addBtn:hover {
  background: rgb(36, 33, 33);

  box-shadow: #d7f74b;
  color: silver;
}
