#background {
  background-image: url("../../assets/b12.jpg");
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.box {
  width: 30%;
  height: 20%;
  background: white;
  box-shadow: 1px 3px 10px crimson;
  /* margin: 8rem; */
  margin: 3rem;
  margin-left: 8rem;
  padding: 5rem;
}

.submitBtn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  border-radius: 20px;
  /* background: #e63c44; */
  background: rgb(231, 21, 117);
  color: white;
  cursor: pointer;
  margin-right: -5rem;
  text-decoration: none;
  /* position: relative; */
  display: block;
  margin-top: 3rem;
  margin-bottom: 2rem;
  /* 
  margin-left: 12em;
  margin-top: 2rem; */
}
.mic {
  padding: 0.5rem 0.5rem;
  border: 1px solid;
  border-radius: 20px;
  /* background: #e63c44; */
  background: rgb(231, 21, 117);
  width: 3rem;
  color: white;
  cursor: pointer;
  margin-right: -1rem;
  margin-left: 8rem;
  text-decoration: none;
  display: block;
  margin-top: -4.5rem;
}
.mic:focus {
  outline: none;
}

.submitBtn:focus {
  outline: none;
}

.mic:hover {
  /* background: #d7f74b; */
  border-color: #ff4382;
  background: rgb(238, 113, 169);
  box-shadow: 1px 3px 10px crimson;
}
.submitBtn:hover {
  background: #d7f74b;
  border-color: #ff4382;
}
.mic:active {
  background: #ffce00;
  border-color: #ff4382;
}
.submitBtn:active {
  background: #ffce00;
  border-color: #ff4382;
}

.speaker {
  width: 3rem;
  height: 8px;
  margin-top: -19%;
  cursor: pointer;
}

.speaker img {
  width: inherit;
  height: 5rem;
  margin-top: 18px;
  margin-left: -90px;
}

.nextBtn {
  margin-top: 2rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin-right: -1rem;
  margin-left: -6rem;
  text-decoration: none;
  background: chartreuse;
}
.nextBtn:hover {
  box-shadow: 1px 3px 10px chartreuse;
  background: rgb(193, 245, 141);
}

.nextBtn:focus {
  outline: none;
}
