* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.outer-div-Level {
  background-image: url("../assets/level-back2.jpg");

  position: fixed;
  min-width: 98%;
  min-height: 80%;
  background-size: cover;
  /* background-position: center; */
  border-radius: 30px;
  top: 90px;
  left: 15px;
  margin-right: 15px;
  bottom: 15px;
  display: flex;
  /* z-index:1000; */
}
.NavbarItems-Level {
  background: linear-gradient(to bottom right, #ff4382, #ffce00);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2 rem;
  /* margin-top: 30px; */
}
.navbar-logo-Level {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu-Level {
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* grid-gap: 1px; */
  list-style: none;
  /* text-align: center; */
  width: 70vw;
  justify-content: left;
  margin-right: 1rem;
  margin-left: 100px;
}

.nav-links-Level {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  list-style: none;
  /* display: flex; */
  /* text-align: left; */
}

.nav-links-Level:hover {
  background-color: #e63c44;
  /* border-radius: 1px; */
  border-radius: 20px;
  transition: all 0.2s ease-out;
}

.button-Level {
  font: inherit;
  font-size: 16px;
  font-weight: bolder;
  padding: 1.2rem 3rem;
  /* padding-bottom: 10px; */
  border: 1px solid;
  border-radius: 15px;
  background: #51acf6;
  /* background: linear-gradient(to bottom right,#ff4382, #ffce00 ); */
  color: white;
  cursor: pointer;
  margin-left: 120px;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}
.button-Level:focus {
  outline: none;
}

.button-Level:hover {
  background: #ffce00;
  border-color: #ff4382;
}

.button-Level:active {
  background: #ffce00;
  border-color: #ff4382;
}
.button1-Level {
  font: inherit;
  font-size: 16px;
  font-weight: bolder;
  padding: 1.2rem 3.65rem;
  /* padding-bottom: 10px; */
  border: 1px solid;
  border-radius: 15px;
  background: #51acf6;
  /* background: linear-gradient(to bottom right,#ff4382, #ffce00 ); */
  color: white;
  cursor: pointer;
  margin-left: 120px;
  text-decoration: none;
  display: inline-block;
  margin-top: 8px;
}
.button1-Level:focus {
  outline: none;
}

.button1-Level:hover {
  background: #ffce00;
  border-color: #ff4382;
}

.button1-Level:active {
  background: #ffce00;
  border-color: #ff4382;
}

.logo {
  height: 60px;
  border-radius: 30px;
  /* margin-left: 5px; */
}

/* .background{
  opacity:0.4; */
/* background-color:#ccc; */
/* position:fixed;
  margin-top: 80px;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:1000;
} */

.white-div-Level {
  border: 5px solid #000;
  /* padding: 10px; */
  border-radius: 25px;
  /* box-shadow:  15px  ; */
  /* border-radius: 20px ; */
  background-color: #fff;
  padding-top: 8px;
  padding-bottom: 5px;
  padding-left: 2px;
  /* padding-left: 2px; */
  margin-top: 20px;
  margin-left: 50px;
  /* margin-left: 200px; */
  width: 450px;
  height: 470px;
}
/* .blue-div{ */
/* border: 5px solid #000;
padding: 10px;
border-radius: 25px; */
/* box-shadow:  15px  ; */
/* border-radius: 20px ; 
  background: linear-gradient(to top right,#068bf8, #d8d0b0 );
  padding: 35px;
  margin-top: 0px;  */
/* align-content: space-around; */
/* margin-left: 5px; */
/* margin-left: 50px; */
/* width: 500px;
  height: 410px; */
/* } */
.spell-title-Level {
  font-size: 55px;
  font-weight: bold;
  /* background: rgb(59, 2, 6); */
  /* mix-blend-mode: multiply; */
  color: #ffce00;
  /* background-color: black; */
  text-decoration: overline underline;
  text-shadow: 2px 2px 5px rgb(233, 123, 20);
  padding-bottom: 40px;
  margin-top: 50px;
  /* height: 100px;
  width: 400px;
  border-radius: 25px;*/
  margin-left: 50px;
}

.bee1-Level {
  margin-left: 18px;
  border-radius: 20px;
  margin-top: 15px;
  height: 190px;
  animation: shake 3s;
  animation-iteration-count: infinite;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}