* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.NavbarItems-admin {
  background: linear-gradient(to bottom right, #ff4382, #ffce00);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2 rem;
}
.navbar-logo-admin {
  color: #fff;
  justify-self: start;
  margin-left: 15px;
  cursor: pointer;
}

.nav-menu-admin {
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(5, auto);
  /* grid-gap: 1px; */
  list-style: none;
  text-align: center;
  width: 65vw;
  justify-content: end;
  margin-right: 1rem;
}

.nav-links-admin {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  list-style: none;
}

.nav-links-admin:hover {
  background-color: #e63c44;
  /* border-radius: 1px; */
  border-radius: 20px;
  transition: all 0.2s ease-out;
}


/* .NavbarItems {
  background: linear-gradient(to bottom right, #fe4880, #ffce00);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2 rem;
}
.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 15px;
  cursor: pointer;
} */

/* .fa-react{
    margin-left: 0.5 rem;
    font-size: 1.6rem;
} */
/* .nav-menu {
  font-size: 16px;
  font-weight: bold;
  display: inline;
  padding-left: 20px; */
  /* grid-template-columns: repeat(10, auto); */
  /* grid-gap: 1px; */
  /* list-style: none; */
  /* display: flex; */
  /* text-align: center; */
  /* width: 30vw; */
  /* justify-content: end; */
  /* margin-top: 1rem; */
/* }

.nav-links {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  list-style: none;
}

.nav-links:hover {
  background-color: #e63c44; */
  /* border-radius: 1px; */
  /* border-radius: 20px;
  transition: all 0.2s ease-out; */
/* } */
/* .fa-bars{
    color: #fff;
} */
/* .nav-links-mobile{
    display: none;
} */

/* .menu-icon{
    display: none;
} */

.admin-body {
  font-size: 24px;
  font: 3em sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 70px;
  /* / background-color: #f7734b; */
  border-radius: 1px;
}

.button-admin {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid;
  border-radius: 20px;
  background: #e63c44;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  display: inline-block;
}

.button-admin:focus {
  outline: none;
}

.button-admin:hover {
  background: #d7f74b;
  border-color: #ff4382;
}

.button-admin:active {
  background: #ffce00;
  border-color: #ff4382;
}

.logo-admin {
  height: 60px;
  border-radius: 30px;
  margin-left: 20px;
  cursor: pointer;
  animation: example 5s linear infinite;
}

@keyframes example {
  0% {
    transform: perspective(100px) rotateY(0deg);
  }
  100% {
    transform: perspective(100px) rotateY(360deg);
  }
}
