.closeButton-score {
    padding: 0.5rem 1.5rem;
    border: 1px solid;
    border-radius: 20px;
    background:  rgb(231, 21, 117);
    color: white;
    cursor: pointer;
    margin-left: 20px;
    /* margin-right: 1rem; */
    margin-top: 2rem;
    text-decoration: none;
    display: inline-block;
    font: inherit;
  }
  
  .closeButton-score:focus {
    outline: rgb(64, 92, 250);
  }
  
  .closeButton-score:hover {
    background:rgb(64, 92, 250);
    border-color: rgb(64, 92, 250);
    box-shadow:4px 7px 10px  rgb(64, 92, 250) ;
  }
  
  .closeButton-score:active {
    background: rgb(124, 188, 251);
  }
  
.scoreText-score{
    padding-top:80px;
    font-size: 30px;
}

.score-score{
    padding-top: 7px ;
    background-color: rgb(64, 92, 250) ;
    color: white;
    width: 100px;
    height: 30px;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 20px;
}